<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leafo3" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <permission
        android:name="com.leafo3.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.leafo3.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".main.PhotoActivity"
            android:label="@string/title_activity_photo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".main.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.LeafRecordActivity"
            android:label="@string/title_activity_leaf_record"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".main.InstructionsActivity"
            android:label="@string/title_activity_instructions"
            android:theme="@style/AppThemeNoTitle" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqQay7cW0WnFdc6jyKqYeDI9ohpTJl7kw" />

        <activity
            android:name=".main.LeafActivity"
            android:label="@string/title_activity_leaf"
            android:theme="@style/AppTheme" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />

        </activity>
        <activity
            android:name=".main.AnalyticsActivity"
            android:label="@string/title_activity_analytics"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".main.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>
